.choosedContainer {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(40, 252, 12);
  transform: translate(50%, -50%);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}