.avatar {
  width: 100% !important;
  height: 100% !important;
  max-width: 400px !important;
  max-height: 800px !important;
}

.textField{
  width: 100%;
}

.dataContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;
  gap: 16px;
}

.button{
  width: 100%;
}