

.container {
  width: 100%;
  padding: 16px 8px;

}

.accordion {
  width: 100%;
}

.avatar {
  width: 100% !important;
  height: 100% !important;
  max-width: 250px !important;
  max-height: 250px !important;
}

.avatar > img {
  width: 100%;
  height: 100%;
}

.nutrientsContent {
  margin-top: 0 !important;
}

.deleteIngredientBtn {
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}