


.itemCard {
  max-width: 350px;
  width: 100%;
  height: 100%;
  max-height: 425px;
  min-width: 150px;
}

.itemCardDescription {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  text-wrap: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.itemCardTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2;       
  overflow: hidden;           
  text-overflow: ellipsis; 
}

.itemCardImage {
  min-height: 250px;
  max-height: 250px;
  min-width: 150px;
  object-fit: scale-down !important;
  object-position: center !important;
  object-fit: contain !important;
}